<header>
    <nav>
        <a href="/">
            <h3>Image API</h3>
        </a>
        <ul>
            <li>ABout</li>
            <li>ABout</li>
            <% if (user) { %>
                <li><%= user %></li>
                <%} else { %>
                <p> Login </p>
            <% } %>
        </ul>
    </nav>
</header>