<div id="overview_dashboard">        
    </div>            
    

    
    <!-- <div class="input-holder w-full flex gap-2 border my-1 rounded max-w-xl p-1 items-center border-gray-700 relative">
        <input 
            class="appearance-none block w-full bg-gray-800 rounded py-3 px-4 leading-tight focus:outline-none"
            value=count
        />
        <select id="type" class="appearance-none block w-full bg-gray-800 rounded py-3 px-4 max-w-xs leading-tight focus:outline-none">
            <option value="">Select Type</option>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
        </select>
        <button data-id=3.2 class="delete-button absolute right-0 mr-2 rounded hover:bg-gray-700 py-1 px-2">&#10060;</button></div>
    </div>                 -->
    
    <!-- <div class="input-holder w-full flex gap-2 border my-1 rounded max-w-xl p-1 items-center border-gray-700 relative">
        <input 
            class="appearance-none block w-full bg-gray-800 rounded py-3 px-4 leading-tight focus:outline-none"
            value=price
        />
        <select id="type" class="appearance-none block w-full bg-gray-800 rounded py-3 px-4 max-w-xs leading-tight focus:outline-none">
            <option value="">Select Type</option>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
        </select>
        <button data-id=3.3 class="delete-button absolute right-0 mr-2 rounded hover:bg-gray-700 py-1 px-2">&#10060;</button></div>
    </div>                 -->
    

</div>
<script>
    // const overview = elmId('overview_dashboard')
    // function loadOverview() {
    //     if(location.hash !== "#overview") {
    //         return;
    //     }
    //     overview.innerHTML= createElement('div', 
    //     `
    //         ${createForm({
    //             label:'Email address',
    //             id: 'email_address',
    //             placeholder: 'Enter Your email'
    //         })}
    //     `
    //     , {
    //         class: 'border border-gray-700',
    //         id: 'this_is_id',
    //     })

    // }
    // loadOverview();
    // window.addEventListener('hashchange', loadOverview);
</script>