<option value="">Select Location</option>
<option id="opt-select-us-ca-central-1" value="us-ca-central-1">CA CENTRAL 1</option>
<option id="opt-select-us-west-1" value="us-west-1">US WEST 1</option>
<option id="opt-select-us-west-2" value="us-west-2">US WEST 2</option>
<option id="opt-select-us-central-1" value="us-central-1">US CENTRAL 1</option>
<option id="opt-select-us-east-1" value="us-east-1">US EAST 1</option>
<option id="opt-select-us-east-2" value="us-east-2">US EAST 2</option>
<script>
    setAttr('opt-select-<%=defaultValue%>', 'selected', 'selected')
</script>