@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    html, 
    body {
        @apply bg-gray-900 text-gray-100;
    }
    html {
        scroll-behavior: smooth;
    }
    details > summary {
        @apply list-none;
    }
    
    details > summary::-webkit-details-marker {
        @apply hidden
    }
    summary {
        @apply block;
    }
      
    summary::after {
        @apply inline-block float-right transition duration-200 align-middle;
    }
    summary::after {
        content: '\203A'; /* chevron */
    }
    
    details[open] summary::after {
        transform: rotate(90deg);
    }
    dialog::backdrop {
        background: rgba(0,0,0,.45);
      }

    .hover-trigger .hover-target {
        display: none;
    }
    .hover-trigger:hover .hover-target {
        display: block;
    }
}
