<a href="/dashboard/newapp" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Create API</a>
<a href="/dashboard/newstoragebucket" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">New Storage</a>
<a href="/dashboard/newmongodb" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">New MongoDB Cluster</a>