<div>
    <h2>This is console</h2>
    <div>
        <h3>List of all apis goes down here</h3>
        <input type="file"/>
        <img src="<%= imagedata %>" />
        <style>
            img {
                height: auto;
                width: auto;
                border: 1px solid red;
                border-radius: 10px;
            }
        </style>
    </div>
</div>